# Mapnik XML
data.xml
*.thumb.png
*.swp
*.pbf

# quickstart
quickstart.log


# imput / output data
data/*

# input wikidata
wikidata/*

# generated source files
build/*

# any IDE files
.idea/
.vscode/
